<ion-view view-title="Indicadores">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" style="background:#00464f url(img/login.png) no-repeat right bottom;">




      <!-- <div class="list">
          <ion-md-input ng-model="user.prueba" placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
          <ion-md-input ng-model="user.password" placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
      </div> -->

<!-- <div class="list  condensed-space no-padding animate-blinds done done done done"> -->
  <!-- <div class="card dark-bg in" style="transition-delay: 0.13s;">
      <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
          <h2><i class="material-icons">attach_money</i>Toronto</h2>
          <p>Drake's Raptastic Raptors</p>
          <img src="../img/toronto.jpg" style="transition-delay: 0.02s;">
      </a>
  </div> -->
<!-- </div> -->

  <!-- <div class="list half condensed-space no-padding animate-blinds done done done done">
<i class="material-icons" style="color:#fff; font-size:30vw;">sentiment_very_satisfied</i>
<i class="material-icons" style="color:#fff; font-size:30vw;">check_circle</i>
<i class="material-icons" style="color:#fff; font-size:30vw;">attach_money</i>
</div>
<div class="list half condensed-space no-padding animate-blinds done done done done">
<i class="material-icons" style="color:#fff; font-size:30vw;">sentiment_very_satisfied</i>
<i class="material-icons" style="color:#fff; font-size:30vw;">check_circle</i>
<i class="material-icons" style="color:#fff; font-size:30vw;">attach_money</i>
</div> -->

      <div class="list condensed-space no-padding animate-blinds done done done done">

                      <div  ui-sref="app.friends" class="card positive-bg in" style="transition-delay: 0.13s;">
                          <a  class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                              <h2><i class="material-icons" style="color:#fff; font-size:20vw;">sentiment_very_satisfied</i>  <label  ng-model="grafs.u_totalApoyosBeneficiarios" placeholder="" highlight-color="" type="text"></label ></h2>
                              <h2>Beneficiados</h2>
                              <!-- <img src="../img/toronto.jpg" style="transition-delay: 0.02s;"> -->
                          </a>
                      </div>
                      <div  ui-sref="app.friends" class="card energized-bg in" style="transition-delay: 0.27s;">
                          <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                              <h2><i class="material-icons" style="color:#fff; font-size:20vw;">check_circle</i> </h2>
                              <h2>Apoyos Otorgados</h2>
                              <!-- <img src="../img/scotland.jpg" style="transition-delay: 0.09s;"> -->
                          </a>
                      </div>
                      <div  ui-sref="app.friends" class="card assertive-bg in" style="transition-delay: 0.4s;">
                          <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                              <h2><i class="material-icons" style="color:#fff; font-size:20vw;">attach_money</i> </h2>
                              <h2>Cantidad en Dinero</h2>
                              <!-- <img src="../img/kyoto.jpg" style="transition-delay: 0.18s;"> -->
                          </a>
                      </div>
    </div>



    </ion-content>
</ion-view>
